{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Listado de productos</h1>

        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>C&oacute;digo</th>
                    <th>Descripci&oacute;n</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.idProducto }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.existencias }}</td>
                    <td>
                        <a href="{{ path('app_producto_show', {'idProducto': producto.idProducto}) }}" class="btn btn-success">Mostrar</a>
                        <a href="{{ path('app_producto_edit', {'idProducto': producto.idProducto}) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_producto_new') }}" class="btn btn-primary">Nuevo producto</a>
    </div>
{% endblock %}
